.choice {
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.inner {
    width: 80%;
    height: 80%;
    /*transform: translate(10%, 10%);*/
    box-shadow: inset 2px 8px #B9BED3;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%; 
    left: 10%;
}

.inner img {
    width: 35%;
}

.glare1, .glare2, .glare3 {
    border-radius: 50%;
    position: absolute;
}

.glare1 {
    background-color: rgba(255, 255, 255, 0.1);
    width: 130%;
    height: 130%;    
    top: -15%; 
    left: -15%;
    z-index: -99;
    animation: 0.5s ease-out 0s 1 glaring;
}

.glare2 {
    background-color: rgba(255, 255, 255, 0.05);
    width: 160%;
    height: 160%;    
    top: -30%; 
    left: -30%;
    z-index: -99;
    animation: 0.75s ease-out 0s 1 glaring;
}

.glare3 {
    background-color: rgba(255, 255, 255, 0.025);
    width: 190%;
    height: 190%;    
    top: -45%; 
    left: -45%;
    z-index: -99;
    animation: 1s ease-out 0s 1 glaring;
}

.hidden {
    visibility: hidden;
}

@keyframes glaring {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }    
}

@media screen and (max-width: 375px) {
    .rules-button {
      bottom: 20px;
      right: 50%;
      transform: translateX(50%);
    }
}