* {
  margin: 0;
  padding: 0;  
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal h5 {
  color: var(--dark-text);
  font-size: 2em;
}

.modal {  
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: fit-content(50px) 1fr;

  grid-auto-flow: column;
  align-items: center;
  row-gap: 25px;
}

.rulebook {
  grid-column: span 2;
}

.modal img.x {
  cursor: pointer;
  justify-self: end;
}

.rules-button {
  padding: 12px 35px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-weight: bold;
  border: 1px white solid;
  border-radius: 6px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.rules-button:hover {
  background-color: var(--header-outline);
}

@media screen and (max-width: 375px) {
  .rules-button {
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
  }

  .modal {  
    width: 100%;
    height: 100%;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
}